<div class="homepage-container">
  <div class="hero">
    <%= image_tag 'white_on_trans.png', alt: 'Savoir+ Logo', class: 'hero-logo' %>
    <p class="hero-description">Together, we're smarter! Share your specific knowledge, explore a variety of posts and join the discussion.</p>

    <%= link_to "View all posts", posts_path, class: "btn btn-primary hero-btn" %>
  </div>
</div>
