.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: linear-gradient(135deg, var(--text), var(--primary));
  margin-bottom: 1rem;
  padding: 2rem;

  .post-title a {
    align-self: start;
    font-size: 1.5rem;
    margin-bottom: 35px;
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
  }

  .post-card {
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: var(--background);
    color: var(--text);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    max-width: 1000px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }

    .post-content {
      font-size: 1rem;
      color: var(--text);
      margin-bottom: 15px;
      text-align: start;
    }
  }
    .read-more-btn {
      background-color: var(--secondary);
      color: #fff;
      border-radius: 25px;
      padding: 8px 16px;
      font-size: 1rem;
      text-decoration: none;
      border: none;
      align-self: center;

      &:hover {
        background-color: var(--accent);
      }
    }


  .back-home-btn {
    align-self: flex-start;
    background-color: var(--primary);
    color: #fff;
    border-radius: 75px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    top: 50px;
    left: 10px;
    z-index: 10;
    border: none;

    &:hover {
      background-color: var(--secondary);
    }
  }
}

@media (max-width: 768px) {
  .posts-container {
    padding: 10px;

    .post-card {
      padding: 15px;
      margin-bottom: 15px;
    }

    .page-title {
      font-size: 2rem;
    }

    .post-title {
      font-size: 1.5rem;
      text-decoration: none;
    }

    .post-content {
      font-size: 0.9rem;
    }
  }
}
